html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #dddd;
}
img {
  align-content: center;
  max-width: 100%;
  border-radius: 10%;
  padding: 2px;
  margin: 0px 10px 10px 0;
}

}
p {
  text-align: justify;
  text-decoration-color: black;
  font-size: 12px;
}

span {
  background-color:#b7c8db;
}

.nome {
  color: red;
  font-weight:figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

 bold;
  text-decoration: none;
}
.nome:hover {
  text-decoration: underline;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  grid-gap: 22px;
  padding: 50px;


}
.grid-main-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
  padding: 22px;
}
#titulo {
  grid-column: 1 / 4;
}
h3 {
  margin: 16px 0;
}
.btn {
  background-color:#092834;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px 16px;
  margin: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}
footer {
  background-color:#092834;
  color: #fff;
  height: 80px;
}
small {
  font-size: 18px;
}

/* Inicio menu navegação Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color:#092834;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #092834;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
ul{

  list-style-type: none;
}
/* Style the active link (or home/logo) */
.active {
  background-color:#092834;
  color: white;
}
 /*Modal */
 .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0,0);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
